.anchor
.DS_Store
**/*.rs.bk

# Anchor build artifacts
target/*
!target/idl/
!target/types/

node_modules
test-ledger
docker-target

# Yarn files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
